<!doctype html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Board Games App{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Board Games</a>
        <a href="{{ url_for('main.lista_giochi') }}">Tutti i Giochi</a>
        <a href="{{ url_for('main.nuovo_gioco') }}">Aggiungi Gioco</a>
    </nav>
    <hr>

    {% for message in get_flashed_messages() %}
    <div class="flash">
        {{ message }}
    </div>
    {% endfor %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <hr>
    <footer>
        <small>&copy; 2026 - Board Games App</small>
    </footer>
</body>

</html>