{% extends 'base.html' %}

{% block content %}
<h1>Tutti i Giochi</h1>

{% for game in games %}
<article>

    <h2>
        <a href="{{ url_for('main.lista_partite', game_id=game['id']) }}">
            {{ game['nome'] }}
        </a>
    </h2>

    <br><img src="{{ url_for('static', filename='images/' ~ game['nome']|lower|replace(' ', '_') ~ '.jpg') }}"
         alt="{{ game['nome'] }}"
         style="width:150px; border:1px solid #ccc; margin-bottom:10px;"></br>

    <p>
        Categoria: {{ game['categoria'] }}<br>
        Max giocatori: {{ game['numero_giocatori_massimo'] }}<br>
        Durata media: {{ game['durata_media'] }} minuti
    </p>

</article>
<hr>
{% endfor %}

<a href="{{ url_for('main.nuovo_gioco') }}">Aggiungi un nuovo gioco</a>
{% endblock %}